<!-- <div style="text-align:center">
<h1>
  Estoque de medicamentos
  </h1>

</div>
<app-medicamento></app-medicamento> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
<nav>
  <nav class="blue darken-4">

    <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Estoque SUS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="listar">Lista</a></li>
      <li><a routerLink="incluir">Cadastrar Medicamento</a></li>
      <li><a routerLink="cards">Alterações</a></li>
    </ul>
  </div>
</nav>
  </nav>

  <!-- <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Agenda Telefônica</span>
    </a>
  
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/listar" class="nav-link">Listar</a></li>
      <li class="nav-item"><a routerLink="/incluir" class="nav-link">Incluir</a></li>
    </ul> 
  </header> -->

<!-- <nav>
  <a routerLink="disponibilidade">Disponibilidade</a>
</nav> -->

<div class=" container">
  <router-outlet></router-outlet>
</div>
